<p>
<%= @player_1_name %>: <%= @player_1_hp %>HP vs. <%= @player_2_name%>: <%= @player_2_hp %>HP
</p>


<!-- <a href="/attack">Attack</a> -->
<% if @game.turn == @player_1%>

<form action='/attack' method='get'>
  <input type="submit" value="Attack <%= @player_2_name %>">
</form>
<%end%>

<% if @game.turn == @player_2%>
<form action='/attack' method='get'>
  <input type="submit" value="Attack <%= @player_1_name %>">
</form>
<% end %>
